.git
.github
.gitlab-ci.yml
node_modules
webui/node_modules
app/static
app/data
app/db
logs
torrents
webui/public/assets/styles
webui/dist
docs
*.md
LICENSE
SECURITY.md
Dockerfile
docker-compose.yml
.dockerignore
